
.container {

    float:left;
}

.grid {
    color: white;
    text-align:center;
    font-family: monospace;
    font-size:20px;
    width:250px;
    height: 170px;
    border: 5px dotted white;
    

    float: left;
    margin-right: 10px;
    
}

.hp {
    border: 1px solid yellow;
    width:40px;
    margin: auto;
    
}
.row1 {
    border: 1px solid brown;
    text-align:center;
    margin-left:0;
    width: 850px;
    color:white;
}

.row {
    color:white;
    border: 1px solid brown;
    font-family: monospace;
    font-size:20px;
}
#fight {
    height:170px;
    margin-top:20px;
}

#enemy1 {
    margin-bottom:20px;
}

#enemy2 {
    height: 170px;
    margin-top: 20px;
}


img {
    width: 200px;
    height: 100px;
    margin:0;
    padding:0
    
}